## Final Project Submission

Please fill out:
* Student name: Reuben Hough
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: Ahbineet Kulkarni
* Blog post URL:

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [2]:
train = pd.read_csv('cleaneddf.csv', low_memory=False)
test = pd.read_csv('cleantest.csv', low_memory=False)

In [4]:
train.describe()

,id,gps_height,longitude,latitude,basin,region_code,lga,population,extraction_type_class,management,payment,water_quality,quantity,source,source_class,waterpoint_type,year,month,selfbuilt,NaN Counts
count,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,1131.082542,35.149511,-5.889368,4.077172,10.956633,60.039882,179.909983,1.264663,7.275741,2.318013,4.849697,1.285909,6.063199,0.224377,2.574091,2011.925354,4.375640,0.653754,24.279007
std,21453.128371,593.463149,2.612161,2.810333,2.473082,6.713173,35.244499,471.482176,1.626676,2.045373,2.271259,0.676027,0.742187,2.034190,0.417175,1.781438,0.941432,3.029247,0.475777,1.071942
min,0.000000,4.000000,29.607122,-11.649440,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2011.000000,1.000000,0.000000,15.000000
25%,18519.750000,774.000000,33.279948,-8.635572,2.000000,4.000000,30.000000,0.000000,0.000000,7.000000,0.000000,5.000000,1.000000,5.000000,0.000000,1.000000,2011.000000,2.000000,0.000000,24.000000
50%,37061.500000,1244.000000,35.005943,-5.203556,4.000000,11.000000,60.000000,25.000000,1.000000,7.000000,2.000000,5.000000,1.000000,7.000000,0.000000,2.000000,2012.000000,3.000000,1.000000,25.000000
75%,55656.500000,1474.000000,37.236761,-3.373776,6.000000,16.000000,91.000000,215.000000,2.000000,7.000000,4.000000,5.000000,2.000000,8.000000,0.000000,4.000000,2013.000000,7.000000,1.000000,25.000000
max,74247.000000,2770.000000,40.345193,-0.998464,8.000000,25.000000,124.000000,30500.000000,6.000000,11.000000,6.000000,6.000000,3.000000,9.000000,1.000000,6.000000,2013.000000,12.000000,1.000000,25.000000

In [ ]:
# Compute confusion matrix
cnf_matrix = confusion_matrix(y_test, yhatGS)
np.set_printoptions(precision=2)

print (classification_report(y_test, yhatGS))

# Plot non-normalized confusion matrix
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=['Functional',
                                           'Functional needs repair', 
                                           'Non functional'],
                                            normalize= False,
                                            title='Confusion matrix')