## Final Project Submission

Please fill out:
* Student name: Reuben Hough
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: Ahbineet Kulkarni
* Blog post URL:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.tree import DecisionTreeRegressor

In [2]:
train = pd.read_csv('cleaneddf.csv', low_memory=False)
test = pd.read_csv('cleantest.csv', low_memory=False)

In [3]:
def display_all(df):
    with pd.option_context('display.max_rows', 1000):
        with pd.option_context('display.max_columns', 1000):
            display(df)

In [4]:
display_all(train.head())

,id,gps_height,longitude,latitude,basin,region_code,lga,population,public_meeting,permit,extraction_type_class,management,payment,water_quality,quantity,source,source_class,waterpoint_type,status_group,year,month,selfbuilt,NaN Counts
0,69572,1390.0,34.938093,-9.856322,1,10,51,109,1,0,0,7,2,5,1,8,0,1,functional,2011,3,0,25
1,8776,1399.0,34.698766,-2.147466,4,19,103,280,1,1,0,11,0,5,2,5,1,1,functional,2013,3,0,24
2,34310,686.0,37.460664,-3.821329,5,20,108,250,1,1,0,7,4,5,1,0,1,2,functional,2013,2,1,25
3,67743,263.0,38.486161,-11.155298,7,24,87,58,1,1,5,7,0,5,0,3,0,2,non functional,2013,1,0,25
4,19728,1317.0,31.130847,-1.825359,4,17,26,0,1,1,0,1,0,5,3,5,1,1,functional,2011,7,1,24

In [5]:
y = train['status_group']
X = train.drop('status_group', axis=1)

KeyError: 'quality'

In [ ]:
# There are four times as many entries in the train set, 
# so I'll use .20 when testing classification
train.shape[0]/test.shape[0]

In [ ]:
# Doing a test/train split on the training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=3)

In [ ]:
# This fits the training data, then transforms
# both the training and testing data
StandardScaler().fit_transform(X_train)
StandardScaler().transform(X_test)

In [ ]:
# Compute confusion matrix
cnf_matrix = confusion_matrix(y_test, yhatGS)
np.set_printoptions(precision=2)

print (classification_report(y_test, yhatGS))

# Plot non-normalized confusion matrix
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=['Functional',
                                           'Functional needs repair', 
                                           'Non functional'],
                                            normalize= False,
                                            title='Confusion matrix')