## Final Project Submission

Please fill out:
* Student name: Reuben Hough
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: Ahbineet Kulkarni
* Blog post URL:

In [1]:
# Importing useful libraries
import pandas as pd
import sqlite3
import numpy as np
import os
import warnings
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from sklearn.neighbors import KNeighborsClassifier
from scipy.spatial.distance import euclidean
from sklearn.model_selection import train_test_split
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline

In [2]:
# Reading training dataset that was retrieved from kaggle
TrainSet = pd.read_csv('Tan_Train.csv', low_memory=False)
TestSet = pd.read_csv('Tan_Test.csv', low_memory=False)
Labels = pd.read_csv('Tan_Labels.csv')
TrainSet.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
# A lot of info is chopped off, so I'm making a
# function that doesn't cut off any columns
def display_all(df):
    with pd.option_context('display.max_rows', 1000):
        with pd.option_context('display.max_columns', 1000):
            display(df)

In [4]:
display_all(TrainSet.head())

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [5]:
print(TrainSet.shape)
print(Labels.shape)

(59400, 40)
(59400, 2)

The status labels can be added to the training set using the id code

In [6]:
df = TrainSet.merge(Labels, on="id")

In [7]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [8]:
# isolate the year from date recorded
df['date_recorded']=pd.to_datetime(df.date_recorded)
df['year']=df.date_recorded.dt.year
df['year'].value_counts(dropna=False)

2011    28674
2013    24271
2012     6424
2004       30
2002        1
Name: year, dtype: int64

There are very few dates before 2011, so I'm going to replace the date with 2011, the year with the most data.

In [9]:
df2 = df.copy() # Leaving a copy of the original dataframe
df2['year'] = df2['year'].where(df2['year'] > 2010, 2011)
df2['year'].value_counts(dropna=False)

2011    28705
2013    24271
2012     6424
Name: year, dtype: int64

Tanzania has latitude from ~ -11 to ~ -1.1 and longitude from ~30 to ~40. Values outside that range are in error.

In [10]:
df2['latitude'].value_counts(dropna=False)

-2.000000e-08    1812
-6.985842e+00       2
-3.797579e+00       2
-6.981884e+00       2
-7.104625e+00       2
                 ...
-5.726001e+00       1
-9.646831e+00       1
-8.124530e+00       1
-2.535985e+00       1
-2.598965e+00       1
Name: latitude, Length: 57517, dtype: int64

In [11]:
df2['latitude'] = df2['latitude'].where(df2['latitude'] < -0.00000002, np.NaN)
df2['latitude'].value_counts(dropna=False)

 NaN         1812
-2.489378       2
-6.975965       2
-6.981830       2
-6.957328       2
             ...
-9.646831       1
-8.124530       1
-2.535985       1
-4.828176       1
-6.461599       1
Name: latitude, Length: 57517, dtype: int64

In [12]:
df2.sort_values(by='latitude')

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group,year
43832,20163,3000.0,2013-02-17,Danida,330,DANIDA,37.351138,-11.649440,Namba 2,0,...,good,insufficient,insufficient,machine dbh,borehole,groundwater,hand pump,hand pump,functional needs repair,2013
57743,42800,3000.0,2013-02-17,Danida,327,DANIDA,37.351869,-11.648378,Namba 1,0,...,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional needs repair,2013
7328,57360,0.0,2013-02-14,Tasaf,439,TASAF,37.082702,-11.586297,Bomba,0,...,good,insufficient,insufficient,machine dbh,borehole,groundwater,hand pump,hand pump,non functional,2013
51116,338,0.0,2013-02-23,World Bank,559,MKONGO BUILDING CONTRACTOR,36.463786,-11.568577,Kwa Mpechela,0,...,good,unknown,unknown,machine dbh,borehole,groundwater,other,other,non functional,2013
27708,51453,500.0,2013-02-23,Drdp,568,DWE,36.465277,-11.566805,Kwa Waziri Ally,0,...,good,dry,dry,shallow well,shallow well,groundwater,hand pump,hand pump,non functional,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59189,62177,0.0,2011-07-18,Dwsp,0,DWE,0.000000,NaN,Wazazo,0,...,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional needs repair,2011
59208,3631,0.0,2013-01-22,Dwsp,0,DWE,0.000000,NaN,Mtakuja,0,...,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional,2013
59295,60843,0.0,2011-07-19,Rwssp,0,DWE,0.000000,NaN,Maendeleo,0,...,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional needs repair,2011
59324,748,0.0,2013-01-22,World Vision,0,World Vision,0.000000,NaN,Mwazwilo,0,...,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional,2013
59374,49651,0.0,2012-10-29,Rwssp,0,DWE,0.000000,NaN,Nguvu Kazi,0,...,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional,2012

In [13]:
df2['longitude'].value_counts(dropna=False)

0.000000     1812
37.540901       2
33.010510       2
39.093484       2
32.972719       2
             ...
37.579803       1
33.196490       1
34.017119       1
33.788326       1
30.163579       1
Name: longitude, Length: 57516, dtype: int64

In [14]:
df2['longitude'] = df2['longitude'].where(df2['longitude'] > 20, np.NaN)
df2['longitude'].value_counts(dropna=False)

NaN          1812
37.540901       2
33.010510       2
39.093484       2
32.972719       2
             ...
37.579803       1
33.196490       1
34.017119       1
33.788326       1
30.163579       1
Name: longitude, Length: 57516, dtype: int64

In [15]:
df2['gps_height'].value_counts(dropna=False)

 0       20438
-15         60
-16         55
-13         55
-20         52
         ...
 2285        1
 2424        1
 2552        1
 2413        1
 2385        1
Name: gps_height, Length: 2428, dtype: int64

It's unlikely that wells exist at sea level. They would have to be at the coast, as no other point in Tanzania is at or below sea level. They wouldn't need a well if they were on the beach.

In [16]:
df2['gps_height'] = df2['gps_height'].where(df2['gps_height'] > 3, np.NaN)
df2['gps_height'].value_counts(dropna=False)

NaN       22019
1290.0       52
303.0        51
1295.0       46
1269.0       46
          ...
2557.0        1
2523.0        1
622.0         1
2264.0        1
2379.0        1
Name: gps_height, Length: 2366, dtype: int64

In [17]:
df2['public_meeting'].fillna(True, inplace=True) # replace NaN with True

In [19]:
df2['quality_group'].value_counts(dropna=False)

good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

In [20]:
df2['quality_group'] = df2['quality_group'].replace(['unknown'], np.NaN)

In [ ]:
df2['public_meeting'].value_counts(dropna=False)

In [ ]:
# This defines dataframes with GPS Coordinates and without
gpsheighttrain = df2[df2.gps_height > 0].loc[ : ,['id','longitude', 'latitude','gps_height']]
gpsheighttest = df2[df2.gps_height <= 0].loc[ : ,['id','longitude', 'latitude','gps_height']]

In [ ]:
YTrain = gpsheighttrain['gps_height']
XTrain = gpsheighttrain.copy()
XTrain.drop(['id','gps_height'], axis=1, inplace=True)
YTest = gpsheighttest.loc[ : ,['id','gps_height']]
XTest = gpsheighttest.copy()
XTest.drop(['id','gps_height'], axis=1, inplace=True)

In [ ]:
YTest['gps_height'] = KNeighborsClassifier(n_neighbors=1, weights='distance').fit(XTrain, YTrain).predict(XTest)

In [ ]:
df2['gps_height'] = df2['gps_height'].where(df2['gps_height'] > 0, np.NaN)
display_all(df2.head())

In [ ]:
df3 = df2.copy()
df3 = df3.fillna(YTest)
df3.head()

In [ ]:
fig = plt.figure(figsize=(15,10))
ax = fig.add_subplot(111, projection='3d')
ax.scatter(xs=df3.loc[df3.status_group.isin(['functional']),'latitude'],
           ys=df3.loc[df3.status_group.isin(['functional']),'longitude'],
           zs=df3.loc[df3.status_group.isin(['functional']),'gps_height'],
           c='blue',
           marker='.',
           s=20,
          label='functional')
ax.scatter(xs=df3.loc[df3.status_group.isin(['non functional']),'latitude'],
           ys=df3.loc[df3.status_group.isin(['non functional']),'longitude'],
           zs=df3.loc[df3.status_group.isin(['non functional']),'gps_height'],
           c='green',
           marker='x',
           alpha=0.75,
          s=34,
          label='non functional')
ax.scatter(xs=df3.loc[df3.status_group.isin(['functional needs repair']),'latitude'],
           ys=df3.loc[df3.status_group.isin(['functional needs repair']),'longitude'],
           zs=df3.loc[df3.status_group.isin(['functional needs repair']),'gps_height'],
           c='red',
           marker='^',
           alpha=0.5,
          s=21,
          label='functional needs repair')
ax.set_xlabel('latitude, South <--> North')
ax.set_ylabel('longitude, East <--> West')
ax.set_zlabel('pump height above sea level')
ax.legend()
ax.set_title('3D Plot of Water Pump Heights by Tanzanian Latitudes and Longitudes')

In [ ]:
df3['longitude'].value_counts(dropna=False)

In [ ]:
df3.head()

In [ ]:
functional = df3[df3['status_group']=='functional']
nonfunctional = df3[df3['status_group']=='non functional']
needs = df3[df3['status_group']=='functional needs repair']

plt.figure(figsize=(20,10))
plt.plot(functional.longitude,functional.latitude,'g.')
plt.plot(nonfunctional.longitude,nonfunctional.latitude,'r.')
plt.plot(needs.longitude,needs.latitude,'y.')
plt.legend(['Functional','Non functional','Needs Repair'])
plt.axis([27,43,-12,0])
plt.grid(True)

In [ ]:
plt.figure(figsize=(20,10))
plt.plot(nonfunctional.longitude,nonfunctional.latitude,'r.')
plt.plot(needs.longitude,needs.latitude,'y.')
plt.plot(functional.longitude,functional.latitude,'g.')
plt.legend(['Functional','Non functional','Needs Repair'])
plt.axis([27,43,-12,0])
plt.grid(True)

In [ ]:
plt.figure(figsize=(20,10))
plt.plot(needs.longitude,needs.latitude,'y.')
plt.plot(functional.longitude,functional.latitude,'g.')
plt.plot(nonfunctional.longitude,nonfunctional.latitude,'r.')
plt.legend(['Functional','Non functional','Needs Repair'])
plt.axis([27,43,-12,0])
plt.grid(True)

In [ ]:
# This function will create a histogram of the selected column and return mean and median values
def avgplot(dataframe, column, b):
    mean = dataframe['{}'.format(column)].mean()
    median = dataframe['{}'.format(column)].median()
    dataframe['{}'.format(column)].plot(kind='hist', bins=b)

    print("Mean Value for {} column: {}".format(column, mean))
    print("Median Value for {} column: {}".format(column, median))

#

In [ ]:
df3 = df3[df3.construction_year != 0]
df3.shape

It seems a third of the data has a zero for the construction date. It seems likely that this is an error, as ancient wells are not likely to be in operation today.

Construction year doesn't lend itself to simple replacement techniques, so I'm going to create multiple dataframes with different data replacement techniques and compare how each of them ultimately fares.

In [ ]:
df3.construction_year.replace(0, np.nan, inplace=True)

In [ ]:
MedianReplaced.head()