## Final Project Submission

Please fill out:
* Student name: Reuben Hough
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: Ahbineet Kulkarni
* Blog post URL:

In [4]:
import pandas as pd
import sqlite3
import numpy as np
import os

In [19]:
TS = pd.read_csv("Terry_Stops.csv")
TS.describe()

         Subject ID   GO / SC Num  Terry Stop ID   Officer YOB
count  4.352900e+04  4.352900e+04   4.352900e+04  43529.000000
mean   1.807705e+09  2.017360e+13   2.360479e+09   1982.611707
std    3.677140e+09  1.592392e+10   4.698359e+09      8.969843
min   -1.000000e+00  2.009000e+13   2.802000e+04   1900.000000
25%   -1.000000e+00  2.016000e+13   1.682570e+05   1978.000000
50%   -1.000000e+00  2.017000e+13   3.700360e+05   1985.000000
75%   -1.000000e+00  2.019000e+13   5.379730e+05   1989.000000
max    1.489599e+10  2.020000e+13   1.491173e+10   1997.000000

In [21]:
TS.head()

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,...,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,-,-1,20140000120677,92317,Arrest,None,7500,1984,M,Black or African American,...,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,-,-1,20150000001463,28806,Field Contact,None,5670,1965,M,White,...,07:59:00,-,-,-,NaN,N,N,-,-,-
2,-,-1,20150000001516,29599,Field Contact,None,4844,1961,M,White,...,19:12:00,-,-,-,NaN,N,-,-,-,-
3,-,-1,20150000001670,32260,Field Contact,None,7539,1963,M,White,...,04:55:00,-,-,-,NaN,N,N,-,-,-
4,-,-1,20150000001739,33155,Field Contact,None,6973,1977,M,White,...,00:41:00,-,-,-,NaN,N,N,-,-,-