## Final Project Submission

Please fill out:
* Student name: Reuben Hough
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: Ahbineet Kulkarni
* Blog post URL:

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [2]:
train = pd.read_csv('cleaneddf.csv', low_memory=False)
test = pd.read_csv('cleantest.csv', low_memory=False)

In [3]:
train.head()

,id,gps_height,longitude,latitude,basin,region_code,lga,population,public_meeting,permit,...,quantity,source,source_class,waterpoint_type,status_group,year,month,day,selfbuilt,NaN Counts
0,69572,1390.0,34.938093,-9.856322,1,10,51,109,True,False,...,1,8,0,1,functional,2011,3,14,0,26
1,8776,1399.0,34.698766,-2.147466,4,19,103,280,True,True,...,2,5,1,1,functional,2013,3,6,0,25
2,34310,686.0,37.460664,-3.821329,5,20,108,250,True,True,...,1,0,1,2,functional,2013,2,25,1,26
3,67743,263.0,38.486161,-11.155298,7,24,87,58,True,True,...,0,3,0,2,non functional,2013,1,28,0,26
4,19728,1317.0,31.130847,-1.825359,4,17,26,0,True,True,...,3,5,1,1,functional,2011,7,13,1,25